/* SUMMARY

01 - Fonts;
02 - Config of the screen;
03 - Home page;
    03.a - Header;
    03.b - Navigation;
    03.c - Main;
    03.d - Footer;
04 - Profile;
    04.a - Header;
    04.b - Main;
05 - Education;
    05.a - Main;
    05.b - Slide;
06 - About me;
    06.a - Main;
*/

/* MEDIA QUERIES 

A - min-width: 576px;
    A.1 - Navigation;
    A.2 - Home; 
    A.3 - Profile;
    A.4 - About me;
B - min-width: 768px;
    B.1 - Home;
    B.2 - Profile;
C - min-width: 992px;
    C.1 - Main;
    C.2 - Home;
    C.3 - Navigation;
    C.4 - Footer;
    C.5 - Profile;
    C.6 - Education;
    C.7 - About me;
D - min-width: 1024px;
    D.1 - Home; 
    D.2 - Profile;
E - min-width: 1200px;
    E.1 - Home;
    E.2 - Profile;
    E.3 - About me;
F - min-width: 1400px;
*/


/* 01 - FONTS */

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

/* 02 - CONFIG */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    height: 100%; 
    margin: 0 auto;
    background-image: url("../img/desk03.jpg");
    background-size: cover;
    background-attachment: fixed;
}


main {
    min-width: 100%;
    min-height: 100%;
    font-family: 'Jost', sans-serif;

}

main::after {
    content: "";
    display: block;
}

/* 03 - HOME */
/* 03.a - Header */

#title {
    display: none;
}

.w-title {
    text-align: end;
    margin-right: 8vw;
    margin-bottom: -12vh;
    margin-top: 7vh;
    font-family: 'Jost', sans-serif;
}

#avatar-main {
    width: 68%;
    position: absolute;
    top: 18vh;
}

.av {
    text-align: center;
    margin-top: 2vh;
}


/* 03.b - Navigation */
#main-header {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.407);
}

#main-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2vh 0;
}


#main-nav #dropdownMenuLink {
    color: grey;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
}

#main-nav .dropdown-menu {
    background-color: rgba(128, 128, 128, 0.34);
    color: white;
}

#main-nav .dropdown-menu a {
    color: white;
}

#go-back, #go-to {
    margin: 0 4vw;
}

#go-back button {
    border: none;
    background-color: transparent;
}

#go-back:focus, #go-to:focus {
    margin: 0 3.8vw;
}


#go-to a, #go-back button{
    color: grey;
    font-size: 8vw;
}

#go-back button :hover, #go-to a :hover {
    color: rgb(99, 96, 96);
}

#go-back button :focus, #go-to a :focus {
    font-size: 8.2vw;
}


/* 03.c - Main */
#dialog-space {
    margin-left: 28vw;
    margin-top: 5vh;
}

.main-dialog {
    border: solid 1px lightgray;
    padding: 4vh 6vw;
    border-radius: 16vw 16vw 0 16vw;
    /* padding-bottom: 18vh; */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.61);
    margin: 2vh 5vw;
}

.admin-dialog {
    border-radius: 16vw 16vw 16vw 0vw;
}

#user-answer {
    display: none;
}

.dialog-question {
    color: rgb(221, 146, 158);
    font-size: 4vw;
    font-family: 'Jost', sans-serif;
}

.dialog-explication {
    font-style: italic;
    color: grey;
    font-size: 3vw;
}

#form-user-dialog {
    margin: 6vh 12vw;
    position: absolute;
    bottom: 14vh;

}

#form-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-message label {
    font-size: 5vw;
    color: rgb(221, 146, 158);
    text-decoration: underline;
    margin-bottom: 3vh;
    font-family: 'Roboto', sans-serif;
}

#message {
    border: solid 1px lightgrey;
    padding: 2vw;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.852);
}

#form-message button {
    margin: 2vh 0;
    border-radius: 5vw;
    font-size: small;
    background-color: pink;
    color: rgb(255, 255, 255);
}

#form-message button :hover {
    background-color: rgb(253, 171, 185);
}

/* 03.d - Footer */
footer {
    position: fixed;
    text-align: center;
    margin: 0 10vw;
    bottom: 0;
    color: pink;
    font-weight: 500;
    /* padding-bottom: 4vh; */
    margin-top: 10vh;
}

footer hr {
    width: 80vw;
    color: #B49e99;
    box-shadow: 1px 1px 1px 1px lightgray;
    margin: 4vh 0;
}


/* 04 - PROFILe */

/* 04.a - Header */
.avatar {
    width: 65%;
    margin-top: 6vh;
}

/* 04.b - Main */
#main-display {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4vw;
    text-align: justify;
    padding: 4vw;
    border: solid 1px lightgrey;
    background-color: rgba(255, 255, 255, 0.833);
    margin-bottom: 15vh;
}

.main-title {
    color: rgb(218, 153, 164);
    text-decoration: underline;
    margin: 2vh 0;
}

.list-item {
    color: pink;
    margin: 4vh 0;
    list-style: none;
    margin-left: -7vw;
}

.infos {
    color: grey;
}

.infos a {
    color: rgb(231, 147, 189);
}


/* 05 - EDUCATION */

/* 05.a - Main */
.list-ed {
    color: #B49e99;
    margin: 3vh 0;
}

.ed-year {
    color: #e6ccd8;
    font-size: small;
}

.ed-title {
    color: #b39b96;
    font-size: small;

}

/* 05.b - Slide */
.splide {
    margin: 5vh 0;
    width: 80%;
    margin-bottom: 15vh;
}

#main-title {
    text-align: center;
}

.splide__track {
    margin: 8vh 0;
}

.card{
    padding: 6vw;
    text-align: center;

}

/* 06 - ABOUT ME */
/* 06.a - Main */
.hobbie-title {
    font-size: 5vw;
    color: pink;
    text-decoration: underline;
}

.hobbie-desc {
    color: grey;
    text-decoration: none;
    margin-bottom: 5vh;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: solid 1px lightgrey;
    padding: 5vh 4vw;
    background-color: rgba(255, 255, 255, 0.792);
    color: grey;
    margin-bottom: 15vh;

}

.lang-spe {
    font-weight: bold;
}

.links {
    color: grey;
    margin: 0 2vw;
}

.links :hover {
    color: rgb(99, 98, 98);
}

/* MEDIA QUERIES */

/* A - min-width: 576px */

@media screen and (min-width: 576px) {

    /* A.1 Navigation */
    #go-to a, #go-back button {
        font-size: 5vw;
    }

    #go-to a :focus, #go-back button :focus{
        font-size: 5.5vw;
    }

    #go-to a :hover, #go-back button :hover{
        color: rgb(92, 91, 91);
    }

   
    /* A.2 - Home */
    #avatar-main {
        width: 50%;
        top: 20vh;
    }

    #dialog-space {
        margin-left: 29vw;    
    }

    #welcome-title {
        color: whitesmoke;
    }

    #dialog-space p {
        font-size: 3vw;
    }

    .dialog-explication {
        font-size: small;
    }

    #form-user-dialog {
        margin: 6vh 25vw;
    }

    #form-message label {
        font-size: 3vw;
        margin-bottom: 1vh;
    }

    /* A.3 - Profile */
    .avatar {
        margin: 8vh 0;
        width: 60%;
    }

    /* A.4 - About me */

    .hobbie-title, .main-title {
        font-size: 3vw;
    }

    .links-desc a{
        font-size: 3vw;
    }
}

/* B - min-width: 768px */
@media screen and (min-width: 768px) {
    
    /* B.1 - Home */
    #form-user-dialog {
        margin: 6vh 18vw;
        left: 30vw;
    }
    
    #form-message label {
        font-size: 2vw;
    }

    #form-message textarea {
        padding: 1vw;
    }

    #message {
        font-size: small;

    }

    /* B.2 - Profile */
    .avatar {
        width: 65%;
        margin: 5vh 0;
    }

    #profile-list {
        padding: 3vw;
    }

}

/* C - min-width: 992px */
@media screen and (min-width: 992px) {

    /* C.1 - Main */
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #advice {
        width: 60vw;
        height: 75vh;
        border: solid 30px whitesmoke;
        overflow: auto;
        border-right: solid 40px whitesmoke;
        border-left: solid 40px whitesmoke;
        border-radius: 5vw;
        box-shadow: 2px -2px 10px 1px grey, inset 0px 1px 4px 0px grey;
        background-color: white;
        margin: 10vh 20%;
        scroll-behavior: smooth;
    }

    #advice::-webkit-scrollbar {
        width: 0.4vw;
    }

    #advice::-webkit-scrollbar-track {
        background-color: rgba(245, 245, 245, 0.415);
    }

    #advice::-webkit-scrollbar-thumb {
        background-color: rgb(131, 212, 190);
        border-radius: 2vw;
    }

    /* C.2 -Home */
    #welcome-title {
        display: none;
    }

    #title {
        display: block;
        margin-left: 65%;
        margin-top: 10vh;
        margin-bottom: -15vh;
    }

    #avatar-main {
        width: 32%;
    }    

    .main-dialog{
        margin: 5vh 1vw;
        padding: 2vh 2vw;
    }

    #dialog-space {
        margin-top: 6vh;
        margin-left: 15vw;
    }

    #dialog-space p {
        font-size: 1.5vw;
    }

    .dialog-explication {
        font-size: 1vw;
    }

    #form-user-dialog {
        margin: 6vh 18vw;
        left: 25vw;
        bottom: 26vh;
    }

    #form-message label {
        font-size: 1.5vw;
        margin-bottom: 1vh;
    }

    #form-message textarea {
        width: unset;
    }

    #form-message button {
        margin: 2vh 35%;
    }

    /* C.3 - Navigation */
    #main-header {
        width: 52vw;
    }

    #main-nav {
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    #go-back button, #go-to a {
        font-size: 2vw;
    }

    #go-back button :hover, #go-to a :hover {
        color: rgb(106, 105, 105);
    }

    #go-back button :focus, #go-to a :focus {
        font-size: 2.4vw;
    }

    /* C.4 - Footer */
    footer { 
        position: absolute;
        width: 40vw;
        left: 20vw;
        bottom: 20.3vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer hr {
        width: 45vw;
        margin-top: 0;
    }

    /* C.5 - Profile */
    .avatar {
        width: 50%;
        margin: 0;
    }

    #profile {
        padding: 2vh 7vw;
        margin-bottom: 25vh;
    }

    #profile-list {
        padding: unset;
    }

    #avatar-profile {
        padding: 2vh 0;
    }

    /* C.6 - Education */
    .splide {
        width: 25vw;
        margin: unset;
        margin-bottom: 18vh;
    }
    
    #avatar-ed {
        margin-top: 8vh;
    }

    .card {
        padding: 0;
    }
    /* C.7 - Work */
    #avatar-work {
        margin-top: 7vh;;
    }

    /* C.8 - About me */
    #avatar-about {
        margin-top: 5vh;
    }
    .hobbie-title {
        font-size: 2vw;
    }

    .hobbie-desc, .lang-desc, .lang-spe {
        font-size: small;
    }

    .links-desc a {
        font-size: 3vw;
        margin: 1vw;
    }

    #about-me {
        padding: 2vh 1vw;
        margin-bottom: 20vh;
    }

    /* D - min-width: 1024px */
    @media screen and (min-width: 1024px) {
        /* D.1 - Home */
        #advice {
            height: 70vh;
        }

        #avatar-main {
            width: 28%;
        }

        #form-user-dialog {
            bottom: 29vh;
        }

        footer {
            bottom: 25.3vh;
        }

        /* D.2 - Profile */
        #profile {
            padding: 3vh 6vw;
        }

        #avatar-ed {
            padding-top: 2vh;
        }

        .avatar {
            width: 42%;
        }

        /* D.3 - About me */
        #avatar-abt {
            margin-top: 8vh;
        }
    }

    /* E - min-width: 1200px */
    @media screen and (min-width: 1200px) {
        /* E.1 - Home */
        #advice {
            height: 75vh;
        }

        #main-header {
            width: 53vw;
        }

        #avatar-main {
            width: 25%;
        }

        footer {
            bottom: 20.3vh;
        }

        #form-user-dialog {
            bottom: 25vh;
        }

        /* E.2 - Profile */
        .avatar {
            width: 35%;
        }
        #profile {
            padding: 3vh 6vw;
        }

        /* E.3 - Education */
        #avatar-ed {
            padding-top: 3vh;
        }

        #avatar-ed .avatar, #avatar-work .avatar, #avatar-abt .avatar {
            width: 46%;

        }
        /* E.4 - About me*/
        .links-desc a {
            font-size: 2vw;
        }
    }

    /* F - min-width: 1400px */
    @media screen and (min-width: 1400px) {
        /* F.1 - Home */
        #advice {
            width: 54vw;
        }

        #main-header {
            width: 48vw;
        }

        #avatar-main {
            width: 23%;
        }

        #dialog-space {
            margin-top: 8vh;
        }

        #form-user-dialog {
            bottom: 23vh;
        }

        #body-advice {
            margin-left: 3vw;

        }

        footer {
            bottom: 20.3vh;
        }
    }

    @media screen and (min-width: 1440px) {
        footer {
            bottom: 20vh;
        }
    }
}
